<!-- Modal -->
<form method="post">
    {% csrf_token %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Workout</h5>
                </div>
                <div class="modal-body">Are you sure you want to delete <strong>{{ workout.title }}</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="submit" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>