{% extends 'diary/base.html' %}
{% load humanize %}

{% block title %}
{{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
{% if last_training_sets %}
<div class="row">
    <div class="section">
        <div class="row">
            {% for training in last_training_sets %}
            <div class="set-box">
                {% for set in training %}
                {% if forloop.first %}
                <div class="dates row ">
                    <div class="dates-col col-5 offset-2" align="left">
                        <span class="badge badge-primary">{{ set.date|naturalday:"j.m.y"|title }}</span>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col" align="left">
                        <div class="row">
                            <div class="col counter-set">
                                <div class="counter">
                                    {{ forloop.counter }}.
                                </div>
                                <!-- Example single danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if set.weight %}
                                        {{ set.weight }}x{{ set.reps }}
                                        {% else %}
                                        {{ set.reps }}
                                        {% endif %}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'set_update_view' set.pk %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'set_delete_url' set.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <!--<div style="width:80%; margin:auto">
                <hr>
            </div>-->
        </div>

        <!--Volume-->
        <div class="row">
            {% for i in volume %}
            {% if i %}
            <div class="set-box mb-0">
                <div class="volume row ">
                    <div class="volume-col col-5 offset-1" align="left">
                        <span class="badge badge-primary ml-3" style="text-align:left;"><span style="font-size: 20px;">{{ i }}</span> kg.</span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="set-box">
                <div class="volume row ">
                    <div class="volume-col col-5 offset-1" align="left">
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!--Weight per rep-->
        <div class="row">
            {% for i in weight_per_set %}
            {% if i %}
            <div class="set-box">
                <div class="volume row ">
                    <div class="volume-col col-5 offset-1" align="left">
                        <span class="badge badge-primary ml-3" style="text-align:left;"><span style="font-size: 20px;">{{ i }}</span> kg./rep</span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="set-box">
                <div class="volume row ">
                    <div class="volume-col col-5 offset-1" align="left">
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
<!--Form Collapse-->
<div class="row">
    <div class="col mx-auto">
        {% if training_list_len is None %}
        <div class="row">
            <div class="col-8 offset-2">
                <span class="badge badge-primary mt-4" style="font-size:30px">
                Create you first Set <br>
                <span style="font-size:22px">You may pass "Weight" field if you train without weights</span><br>
            </span>
            </div>
        </div>
        {% endif %}
        <p>
            <button class="btn btn-outline-dark mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                Add Set
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <!--Form-->
                <form method="POST"> {% csrf_token %}
                    <span>{{ set_number }} Set</span>
                    {% for field in form %}
                    <div class="fieldWrapper set-fields">
                        {{ field.errors }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Save" class="btn btn-warning mt-3">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
