{% extends 'diary/base.html' %}
{% load humanize %}

{% block title %}
    {{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
{% if last_training_sets %}
<div class="row">
    <div class="section">
        <div class="row">
            {% for training in last_training_sets %}
            <div class="set-box">
                {% for set in training %}
                {% if forloop.first %}
                <div class="dates row ">
                    <div class="dates-col col-5 offset-2" align="left">
                        <span class="badge badge-primary">{{ set.date|naturalday:"j.m.y"|title }}</span>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col" align="left">
                        <div class="row">
                            <div class="col counter-set">
                                <div class="counter">
                                    {{ forloop.counter }}.
                                </div>
                                <!-- Example single danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if set.weight %}
                                        {{ set.weight }}x{{ set.reps }}
                                        {% else %}
                                        {{ set.reps }}
                                        {% endif %}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'set_update_view' set.pk %}">Edit</a>




                                        <a class="dropdown-item" href="{% url 'set_delete_url' set.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Delete Set <strong>{{ object }}</strong>?</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="alert alert-warning" role="alert">
                        Are you sure you want to delete?
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'workout_list_url' %}" class= "btn btn-primary">Cancel</a>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
</div>
{% endif %}
<!--Form Collapse-->
<div class="row">
    <div class="col mx-auto">
        <p>
            <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                Add Set
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                <!--Form-->
                <form method="POST"> {% csrf_token %}
                    {{ set_number }} set
                    {{ form.as_p }}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
