{% extends 'diary/base.html' %}

{% block title %}
    {{ workout.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% if exercises_list %}
        <div class="container mt-5 text-center">
            {% for exercise in exercises_list %}
                <div class="row">
                    <div class="col-11">
                        <a href="{{ exercise.get_absolute_url }}" class="btn btn-outline-secondary btn-lg btn-block mb-2">{{ exercise.title }} - {{ exercise.workout }}</a>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'exercise_delete_url' exercise.slug %}" class="close"
                                                                      aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-1">
                    <a href="{% url 'exercise_create_url' workout.slug %}" class="btn btn-outline-success mt-4">Add</a>
                </div>
            </div>

        </div>
    {% else %}
        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
                <a href="{% url 'exercise_create_url' %}" class="btn btn-primary mt-4">Create your training</a>
            </div>
        </div>
{% endif %}
{% endblock %}