{% extends 'diary/base.html' %}

{% block title %}
    {{ workout.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<!--Workout menu-->
<div class="btn-group mr-20 mt-2">
    <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        "{{ workout.title }}" options
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'workout_update_view' workout.slug %}">Edit</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'workout_delete_url' workout.slug %}">Delete</a>
    </div>
</div>
    {% if exercises_list %}
        <div class="container">
            {% for exercise in exercises_list %}
                <div class="row">
                    <div class="col-4 offset-4">
                        <a href="{{ exercise.get_absolute_url }}" class="btn btn-warning btn-lg btn-block mb-2">{{ exercise.title }}</a>
                        </a>
                    </div>

                    <!--Workout delete
                    <div class="col-1">
                        <a href="{% url 'exercise_delete_url' exercise.slug %}" class="close"
                                                                      aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    </div>-->
                </div>
            {% endfor %}
            <!--Collapse-->
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <p>
                        <button class="btn btn-outline-warning mt-3" type="button" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample">
                            Add Exercise
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">

                            <!--Form-->
                            <form method="POST"> {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Save" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="row">
                <div class="col-1">
                    <a href="{% url 'exercise_create_url' workout.slug %}" class="btn btn-outline-success mt-4">Add</a>
                </div>
            </div>-->

        </div>
    {% else %}
        <!--<div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any exercise, yet</h5>
                <a href="{% url 'exercise_create_url' workout.slug %}" class="btn btn-primary mt-4">Create your training</a>
            </div>
        </div>-->
    <!--Form Collapse-->
        <div class="row">
            <div class="col-4 mx-auto">
                <p>
                    <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        Do you first exercise, boy!
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <!--Form-->
                        <form method="POST"> {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}