{% extends 'diary/base.html' %}

{% block title %}
    {{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<!--<p style="font-size:90%; color: grey;">Technical info: <br>-->
<!--    {{ sets_count }} sets in {{ exercise.title }}.<br>-->
<!--    {{ all_dates_count }} unique date:-->
<!--    {% for date in all_dates %}-->
<!--    {{ date|date:"j.m.y" }}/-->
<!--    {% endfor %}<br>-->
<!--    latest: {{ latest }} <br>-->
<!--    Sets by date: <br>-->
<!--    {% for set in sets_by_date %}-->
<!--    {{ set }}-->
<!--    {% endfor %} <br>-->
<!--    Sets list: <br>-->
<!--    {% for set in set_list %}-->
<!--    {{ set }}-->
<!--    {% endfor %} <br>-->
<!--    Today date: {{ today }} <br>-->
<!--    Latest set date: {{ latest.date }}-->
<!--    {% for set in sets_by_date %}-->
<!--        {% if set.date == today %}-->
<!--            they are equal-->
<!--        {% endif %}-->
<!--    {% endfor %} <br>-->
<!--    Training list:-->
<!--    {% for training in training_list.1 %}-->
<!--        {{ training }}-->
<!--    {% endfor %} <br>-->
<!--    {{ last_sets_count }}-->
<!--</p>-->
<!--
<h5>Workout: {{ workout }} <br>
    Exercise: {{ exercise.title }}
    </h5>-->
<!--Workout menu-->
<div class="btn-group ml-5 mt-2">
    <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        "{{ exercise.title }}" options
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Edit</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'exercise_delete_url' exercise.slug %}">Delete</a>
    </div>
</div>

    {% if last_training_sets %}
        <div class="container mt-3">
            <div class="col-1">
                {% if all_dates %}
                <!--Dropdown
                <div class="dropdown mb-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Dates
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for date in all_dates %}

                        <a class="dropdown-item" href="{{ exercise.get_absolute_url }}">{{ date|date:"j.m.y" }}</a>
                        {% endfor %}
                    </div>
                </div>-->
                {% endif %}

            </div>


            <div class="container">
                <div class="row">
                    <div class="col-1">
                    </div>
                    {% for date in last_date %}
                    <div class="col-3">
                        {{ date|date:"j.m.y" }}
                    </div>
                    {% endfor %}
                </div>


                <div class="row">

                <!--Counter-->
                    <div class="col-1">
                        {% for set in last_sets_count %}
                            <div class="alert alert-secondary">
                                {{ forloop.counter }}
                            </div>
                        {% endfor %}
                    </div>

                <!--Sets-->
                    {% for training in last_training_sets %}
                        <div class="col-2">
                            {% for set in training %}
                                <div class="alert alert-secondary" role="alert">
                                    {{ set.weight }}x{{ set.reps }}
                                    <a href="{% url 'set_delete_url' set.id %}" class="close"
                                                                      aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
                    <div class="row">
                        <div class="col-8">

                            <!--Collapse-->
                            <div class="col-4 offset-4">
                                <p>
                                    <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        Add workout
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">

                                        <!--Form-->
                                        <form method="POST"> {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Save" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>

<!--Add            -->

<!--            <a href="{% url 'set_create_url' exercise.slug %}" class="btn btn-outline-success mt-4">Add</a>-->

        </div>
    {% else %}

        {% if exercise %}
            <div class="col-12">
                <div class="card border-light text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
                        <a href="{% url 'set_create_url' exercise.slug %}" class="btn btn-primary mt-4">Create your training</a>
                    </div>
                </div>
            </div>

        {% else %}
            PROBLEM
        {% endif %}
{% endif %}
{% endblock %}
