{% extends 'diary/base.html' %}

{% block title %}
    {{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <p style="font-size:90%; color: grey;">Technical info: <br>
    {{ sets_count }} sets in {{ exercise.title }}.<br>
    {{ all_dates_count }} unique date:
    {% for date in all_dates %}
            {{ date|date:"j.m.y" }}/
        {% endfor %}<br>
    latest: {{ latest }}
    Sets by date: <br>
    {% for set in sets_by_date %}
        {{ set }}
    {% endfor %}
    </p>



    {% if set_list %}
        <div class="container mt-3">
            <h4>{{ exercise.title }}:</h4>
            {% if all_dates %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dates
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for date in all_dates %}
                        <a class="dropdown-item" href="#">{{ date|date:"j.m.y" }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% for set in sets_by_date %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ forloop.counter }}. {{ set.weight }}x{{ set.reps }}<a href="{% url 'set_delete_url' set.id %}" class="close"
                                                                                                             aria-label="Close"><span aria-hidden="true">&times;</span></a>
</li>
                    </ul>
            {% endfor %}
            <a href="{% url 'set_create_url' %}" class="btn btn-outline-success mt-4">Add</a>
        </div>
    {% else %}
        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
                <a href="{% url 'set_create_url' %}" class="btn btn-primary mt-4">Create your training</a>
            </div>
        </div>
{% endif %}
{% endblock %}
