{% extends 'diary/base.html' %}
{% load humanize %}

{% block title %}
Workouts - {{ block.super }}
{% endblock %}

{% block content %}
<div class="button-section">
    {% for exercise in exercises %}
    <div class="row">
        <div class="col-12">
            <div class="btn-group btn-lg btn-block">
                <a href="{{ exercise.get_absolute_url }}" type="button" class="btn btn-warning btn-lg btn-block">{{ exercise.title }}</a>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'exercise_update_view' exercise.slug %}">Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'exercise_delete_url' exercise.slug %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Form Collapse-->
    <div class="row">
        <div class="col">
            {% if exercises_len == 0 %}
            <div class="row">
                <div class="col-8 offset-2">
                    <span class="badge badge-primary" style="font-size:30px">
                    Create you first Exercise<br>
                    <span style="font-size:22px">for example: "Squats"</span><br>
                </span>
                </div>
            </div>
            {% endif %}
            <p>
                <button class="btn btn-outline-dark mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                    Add exercise
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <!--Form-->
                    <form method="POST"> {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save" class="btn btn-warning">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
