{% extends 'diary/base.html' %}

{% block title %}
    {{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<p style="font-size:90%; color: grey;">Technical info: <br>
    {{ sets_count }} sets in {{ exercise.title }}.<br>
    {{ all_dates_count }} unique date:
    {% for date in all_dates %}
    {{ date|date:"j.m.y" }}/
    {% endfor %}<br>
    latest: {{ latest }} <br>
    Sets by date: <br>
    {% for set in sets_by_date %}
    {{ set }}
    {% endfor %} <br>
    Sets list: <br>
    {% for set in set_list %}
    {{ set }}
    {% endfor %} <br>
    Today date: {{ today }} <br>
    Latest set date: {{ latest.date }}
    {% for set in sets_by_date %}
        {% if set.date == today %}
            they are equal
        {% endif %}
    {% endfor %} <br>
    Training list:
    {% for training in training_list.1 %}
        {{ training }}
    {% endfor %}

</p>



    {% if set_list %}
        <div class="container mt-3">
            <h4>{{ exercise.title }}:</h4>

<!--            Dropdown menu -->

            {% if all_dates %}
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dates
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for date in all_dates %}

                            <a class="dropdown-item" href="{{ exercise.get_absolute_url }}">{{ date|date:"j.m.y" }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

<!--            Dates -->

            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {{ last_two_date }}
                    </div>
                    <div class="col-3">
                        {{ last_two_date.0|date:"j.m.y" }}
                    </div>
                    <div class="col-3">
                        {{ last_two_date.1|date:"j.m.y" }}
                    </div>
                </div>

<!--                Sets table-->

                <div class="row">


                    {% if secondlast_training_sets %}

                    <!--                    Forloop counter-->

                        <div class="col-1">
<!--                            {% for set in last_sets_count %}-->
                                <div class="alert alert-primary">
                                    {{ forloop.counter }}
                                </div>
<!--                            {% endfor %}-->
                        </div>

<!--                    Secondlist and last list-->

                        <div class="col-3">
                            {% for set in secondlast_training_sets %}
                                <div class="alert alert-primary" role="alert">
                                    {{ set.weight }}x{{ set.reps }}<a href="{% url 'set_delete_url' set.id %}" class="close"
                                                                                                                     aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-3">
                            {% for set in last_training_sets %}
                                <div class="alert alert-primary" role="alert">
                                    {{ set.weight }}x{{ set.reps }}<a href="{% url 'set_delete_url' set.id %}" class="close"
                                                                                                                     aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}

<!--                    Last list only-->

                        <div class="col-1">
                            {% for set in last_sets_count %}
                                <div class="alert alert-primary">
                                    {{ forloop.counter }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-3">
                            {% for set in last_training_sets %}
                                <div class="alert alert-primary" role="alert">
                                    {{ set.weight }}x{{ set.reps }}<a href="{% url 'set_delete_url' set.id %}" class="close"
                                                                                                                     aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                </div>
                            {% endfor %}
                    {% endif %}
                        </div>
                </div>
            </div>









            <a href="{% url 'set_create_url' %}" class="btn btn-outline-success mt-4">Add</a>
        </div>
    {% else %}
        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
                <a href="{% url 'set_create_url' %}" class="btn btn-primary mt-4">Create your training</a>
            </div>
        </div>
{% endif %}
{% endblock %}
