{% extends 'diary/base.html' %}
{% load humanize %}

{% block title %}
{{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}
{% if last_training_sets %}
<div class="row">
    <div class="section">
        <div class="row">
            {% for training in last_training_sets %}
            <div class="set-box">
                {% for set in training %}
                {% if forloop.first %}
                <div class="dates row ">
                    <div class="dates-col col-5 offset-2" align="left">
                        <span class="badge badge-primary">{{ set.date|naturalday:"j.m.y"|title }}</span>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col" align="left">
                        <div class="row">
                            <div class="col counter-set">
                                <div class="counter">
                                    {{ forloop.counter }}.
                                </div>
                                <!-- Example single danger button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if set.weight %}
                                        {{ set.weight }}x{{ set.reps }}
                                        {% else %}
                                        {{ set.reps }} - {{ set.volume }} kg.
                                        {% endif %}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'set_update_view' set.pk %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'set_delete_url' set.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="volume row ">
                {% for i in volume %}
                    <div class="volume-col col-5 offset-2" align="left">
                        <span class="badge badge-primary">{{ i }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--Form Collapse-->
<div class="row">
    <div class="col mx-auto">
        <p>
            <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                Add Set
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                <!--Form-->
                <form method="POST"> {% csrf_token %}
                    {{ set_number }} set
                    {{ form.as_p }}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
