<nav aria-label="navbar">
    <div class="breadcrumb-custom">
        <ol class="breadcrumb bg-dark">
            {% url 'workout_list_url' as workout_list_url %}
            {% if workout_list_url == request.path %}
            <li class="breadcrumb-item active" aria-current="page">Workouts</li>
            {% endif %}

            {% url 'exercise_list' workout.slug as exercise_list %}
            {% if exercise_list == request.path %}
            <li class="breadcrumb-item"><a href="{% url 'workout_list_url' %}">Workouts</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ workout.title }}</li>
            {% endif %}

            {% url 'exercise_detail_url' exercise.slug as exercise_detail %}
            {% url 'set_update_view' set.pk as set_update_view %}
            {% if exercise_detail or set_update_view == request.path %}
            <li class="breadcrumb-item"><a href="{% url 'workout_list_url' %}">Workouts</a></li>
            <li class="breadcrumb-item"><a href="{% url 'exercise_list' workout.slug %}">{{ workout.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ exercise.title }}</li>
            {% endif %}
            <div class="btn-group dropleft dots">
                <button type="button" class="btn btn-sm btn-warning dropdown-toggle dotted-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                </div>
            </div>
        </ol>
    </div>

</nav>