{% extends 'diary/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form method="POST" class="form-row mt-3"> {% csrf_token %}
                    <div class="form-row">
                        {% for field in form %}
                            <div class="col">
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <!--                <input type="submit" value="Save" class="btn btn-primary">-->
                </form>
        </div>
        </div>
    </div>
{% endblock %}