{% extends 'diary/base.html' %}
{% load humanize %}

{% block title %}
{{ exercise.title }} - {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
        {% for training, value in data.items %}
        {% if value.date %}
            <div class="col set-box">
                <div class="row date">
                    <div class="col-10 offset-1 date">
                        {{ value.date|naturalday:"j.m.y"|title }}
                    </div>
                </div>
                {% for set in value.sets %}
                <div class="row">
                    <div class="col-1 set-number">
                        <p>{{ forloop.counter }}.</p>
                    </div>
                    <div class="btn-group col-9">
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle set" id="title{{ set.pk }}" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            {% if set.weight %}
                                <span id="set-weight{{ set.pk }}">{{ set.weight }}</span> x <span id="set-reps{{ set.pk }}">{{ set.reps }}</span>
                            {% else %}
                                <span id="set-reps{{ set.pk }}">{{ set.reps }}</span>
                            {% endif %}
                        </button>
                        <div class="dropdown-menu">
                            <button type="button" class="dropdown-item" onClick="updateSet({{ set.pk }})" data-url="{% url 'set_update_view' set.pk %}"
                                    id="edit{{ set.pk }}" data-toggle="modal" data-target="#edit">Edit</button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="dropdown-item" onclick="setDelete({{ set.pk }})" data-url="{% url 'set_delete_url' set.pk %}" id="delete-dropdown{{ set.pk }}" data-toggle="modal" data-target="#delete">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="rest-time row">
                        <div class="col rest-time-box">
                            <span id="set-rest-time{{ set.pk }}">{{ set.rest_time }}</span>
                        </div>
                    </div>
                <div class="row mt-2">
                    {% now "j.m.y" as today_date %}
                    {% if forloop.last and today_date == set.date|date:"j.m.y"%}
                        <div class="col-1">
                        </div>
                        <div class="col-9 btn-group timer-btn">
                            <button type="button" class="btn btn-sm btn-outline-secondary set" onclick="updateSet({{ set.pk }})" data-toggle="modal"
                                    data-target="#set_rest_time_update_modal" data-url="{% url 'set_update_view' set.pk %}">
                                <i class="fas fa-stopwatch"></i>
                            </button>
                        </div>
                        <div class="collapse" id="timer-collapse">
                            <!--Timer-->
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endfor %}
</div>

<!--Average set-->
<div class="volume row mt-2">
    {% for training, value in  average_set.items %}
    {% if training and value %}
    {% if value.weight %}
    <div class="col-5 volume-box">
        Average set: {{ value.weight }} x {{ value.reps }}
    </div>
    {% else %}
    {% if value.reps %}
    <div class="col-5 volume-box">
        Average set: {{ value.reps }}
    </div>
    {% endif %}
    {% endif %}

    {% endif %}
    {% endfor %}
</div>

<!--Volume-->
<div class="volume row">
    {% for i in volume %}
    {% if i %}
    <div class="col-5 volume-box">
        Volume: {{ i }}
    </div>
    {% endif %}
    {% endfor %}
</div>

<!--Add button-->
<div class="row">
    <div class="col mx-auto">
        {% if last_date is None %}
        <div class="row">
            <div class="col-8 offset-2">
                <span class="badge badge-primary mt-4" style="font-size:30px">
                Create you first Set <br>
                <span style="font-size:22px">You may pass "Weight" field if you train without weights</span><br>
            </span>
            </div>
        </div>
        {% endif %}
        <button type="button" class="btn btn-outline-dark mt-4" data-url="{% url 'exercise_detail_url' exercise.slug %}" data-toggle="modal" id="add" data-target="#create"
                data-backdrop="false">Add Set</button>
    </div>
</div>

{% include 'diary/modals/set_update_modal.html' %}
{% include 'diary/modals/set_delete_modal.html' %}
{% include 'diary/modals/set_create_modal.html' %}
{% include 'diary/modals/set_rest_time_update_modal.html' %}
{% endblock %}
