{% extends 'diary/base.html' %}

{% block title %}
    {{ training.name }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% if exercises_list %}
        <div class="container mt-5 text-center">
            {% for exercise in exercises_list %}
            <a href="{{ exercise.get_absolute_url }}" class="btn btn-outline-secondary btn-lg btn-block">{{ exercise.title }}</a>
            {% endfor %}
            <a href="{% url 'exercise_create_url' %}" class="btn btn-outline-success mt-4">Add</a>

        </div>
    {% else %}
        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
                <a href="{% url 'exercise_create_url' %}" class="btn btn-primary mt-4">Create your training</a>
            </div>
        </div>
{% endif %}
{% endblock %}