{% extends 'diary/base.html' %}


{% block content %}

{% if workouts %}

    <div class="container text-center">
        {% for workout in workouts %}
            <div class="row">
                <div class="col-4 offset-4">
                    <!--First button-->
                    <!--<a href="{% url 'exercise_list' workout.slug %}" class="btn btn-warning btn-lg btn-block mb-2">{{ workout.title }}</a>-->
                    <div class="btn-group btn-lg btn-block">
                        <a href="{% url 'exercise_list' workout.slug %}" type="button" class="btn btn-warning btn-lg btn-block">{{ workout.title }}</a>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'workout_update_view' workout.slug %}">Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'workout_delete_url' workout.slug %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <!--Collapse-->
        <div class="row">
            <div class="col-4 offset-4">
                <p>
                    <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        Add workout
                    </button>
                </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">

                            <!--Form-->
                            <form method="POST"> {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Save" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% else %}
    <!--<div class="card border-light text-center">
        <div class="card-body">
            <h5 class="card-title mt-4 text-secondary">Sorry, you don't have any training, yet</h5>
            <a href="{% url 'workout_create_url' %}" class="btn btn-primary mt-4">Create your training</a>
        </div>
    </div>-->
    <!--Form Collapse-->
    <div class="row">
        <div class="col-4 mx-auto">
            <p>
                <button class="btn btn-outline-warning mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                    Do you first workout, boy!
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <!--Form-->
                    <form method="POST"> {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}