/*.main-container {
    width: 720px;
    height: 720px;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 72px -31px rgba(0,0,0,0.75);
    *//*border: 3px solid blue;*//*
    padding: 10px;
}*/


html, body {
    text-align: center;
/*
    background-color: #ECECEC;
*/
    background-color: #f7f7f7;
    color: #161616;
    height: 100%;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
/*
    font-family: 'Ubuntu', sans-serif;
*/

}

.container {
    text-align: center;
    margin: auto;
}


.all-sets-area{
    width: 100%;
    padding: 0 15px;
    color: #333;
    font-weight: regular;
    max-width: 500px;

}


.section{
    width: 100%;
    padding: 0 15px;
    /*border: 1px solid black;*/
}


.set-box {
/*
    background-color: #333;
*/
    width: 45%;
    margin: 10px auto 25px auto;
    padding: 7px 15px;
    display: inline-block;
    /*border: 1px solid black;*/
    border-radius: 5px;
    /*box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.09);*/
}


.badge {
    margin: 0px auto 15px auto;
    background-color: #333;
    color:white;
    margin-bottom: 15px;
    font-weight: 300;
}

.counter {
    color: grey;
    margin-right: 5px;
}

.set {

}


.button.facebook {
 background: #3b5998;
}


.breadcrumb {
    margin-bottom: 0;
    width: 100%;
    height: auto;
}


.breadcrumb-item+.breadcrumb-item::before {
    color: #6c757d;
    content: "/";

}

.button-section {
    width: 100%;
    margin: 25px auto 25px auto;
}

.btn {
    font-weight: 300;
    margin: 5px 0;
}

.btn-group.btn-lg.btn-block {
    padding: 0;
}


.btn.btn-warning.set {
    height: 70px;
    width: 140px;
    margin: 10px;
    display: table;
    font-style: black;
}

.btn-group.set {
    display: block;

}


.btn.btn-warning.counter {
    background-color: #1a1a1a;
    color: orange;
    border-color: #1a1a1a;
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: table;

}

.inside-counter {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.alert-secondary {
    background-color: #ffc107;
    color: #1a1a1a;
    border-color: #ffc107;
}

.dotted_menu {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 15px 0px white, 0px 30px 0px white;
}

.three_dots {
    width: 30px;
    margin-left:auto;
    margin-right:0;
}

.alert {
}

/*.set {
    display: flex;
    justify-content: space-around;
}*/

/*.btn-block {
    background-color: orange;
    color: black;
    border-color: orange;
}

.btn-block:hover,
.btn-block:active {
    color: black;
    background-color: #f56642 !important;
    border-color: #f56642;
}

.btn-block:focus {
    color: black;
    background-color: #f56642 !important;
    border-color: orange;
}*/


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.logout-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


.form {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px 45px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
}

.card {
    background-color: #f7f7f7;
}

.form-control {
    background-color: #f7f7f7;
}
.form.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;

/*
  box-sizing: border-box;
*/
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
/*
  background: #808080;
*/
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 72px -31px rgba(0,0,0,0.75);
}

.btn.btn-block {
    border: 5px;
    border-color: red;
}

.version {
  color: grey;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}