body {
    background-color: #1a1a1a;
    color: #ffc107;
}

.alert-secondary {
    background-color: #ffc107;
    color: #1a1a1a;
    border-color: #ffc107;
}

/*.btn-block {
    background-color: orange;
    color: black;
    border-color: orange;
}

.btn-block:hover,
.btn-block:active {
    color: black;
    background-color: #f56642 !important;
    border-color: #f56642;
}

.btn-block:focus {
    color: black;
    background-color: #f56642 !important;
    border-color: orange;
}*/


