<!-- Modal -->
<div class="modal fade" id="workout_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create workout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'workout_create_url' %}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                    {{ form.title }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Save" class="btn btn-warning" id="js-save-button">
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<script>
    $(document).ready(function() {
        $("#js-save-button").on("click", modal)
        function modal () {
            $.ajax({
                url: "{ url 'workout_create_url' }",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#workout_create").modal("show");
                },
                success: function (data) {
                    $("#workout_create .modal-content").html(data.html_form);
                }
            });
        }
    });
</script>-->
