<!-- Modal -->
<div class="modal fade workout-update-modal" id="edit" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST" id="update-form">
                {% csrf_token %}
                <div class="modal-body">
                    <input class="form-control" id="slug" type="hidden" name="workoutSlug"/>
                    <input type="text" name="inputTitle" class="form-control" id="update-title">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Save" class="btn btn-warning">
                </div>
            </form>
        </div>
    </div>
</div>
